{%- props position = 'bottom-end' -%}
<span
    class="{{ hui('avatar-badge').apply({position: position}, attributes.render('class'))|tailwind_merge }}"
    {{ attributes.defaults({
        'data-slot': 'avatar-badge'
    }) }}
>
    {%- block content %}{% endblock -%}
</span>
