<div
    class="{{ hui('avatar-group').apply({}, attributes.render('class'))|tailwind_merge }}"
    {{ attributes.defaults({
        'data-slot': 'avatar-group',
    }) }}
>
    {%- block content %}{% endblock -%}
</div>
